html,body{
    /* background-color:rgb(13, 25, 194); */
    min-height:100%;
    height:100%;

}
h1 {color:gray;}
.navbar {
    background-color:rgb(13, 25, 194);
    color:white;
}

.frame{

    margin: 0px auto;
    width:900px;
    color:white;
 
    text-align: center;

    /* border-radius:20px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

button a, button a:hover{
    color:white;
}

.uploadimage {
    margin-bottom:30px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    text-align:center;
    background-color: #1e2d90;
  }

.optimizationFrame {
    margin-top: 60px;
    /* border: 1px solid white; */
    margin: 30px auto;
    width: 900px;
    
    text-align: center;
    /* background-color: white; */
    /* border-radius: 20px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}